.password-conatiner{
    margin-top: 60px;
    border: 1px solid grey ;
    width: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    float: right;
    margin-left: 100px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px  gray;
}
h5{
    text-align: center;
    font-weight: bold;
    color: rgb(159, 38, 230);
}
p{
    text-align: center;
    font-size: 14px;
    
}
label{
    /* position: relative; */
    /* float: right; */
    font-size: 12px;
    color: gray;
    margin-left: 115px;
}
input,button{
    text-align: center;
    width: 350px;
    margin-left: 20%;
}
button{
    background-color: rgb(129, 31, 194);
    border: 1px solid rgb(129, 31, 194);
    border-radius: 3px;
    color: white;
}
input{
    margin-bottom: 20px;
}
.back-link{

    margin-top: 20px;
}
.back-link a{
    color: grey;
    text-decoration: none;
}